doctype html 
html(lang="en")
    head  
        title Личная страница
        
    body 
        div(class='top')
            h1(class='title') Личная страница Кравченко Данила
            div(class='top__container')
                ul(class="allRef")
                    li(class="point")
                        a(href="index.html" class="ref") Личная страница
                    li(class="point")
                        a(href="rozklad.html" class="ref") Расписание
                    li(class="point")    
                        a(href="news.html" class="ref") Новости
                    li(class="point")    
                        a(href="photo.html" class="ref") Фото
        div(class="top__content")
            p Родился 1 апреля 1809 года в местечке Великие Сорочинцы Миргородского уезда
            p Полтавской губернии в семье помещика. Назвали Николаем в честь чудотворной
            p иконы святого Николая, хранившейся в церкви села Диканька. Родился 1 апреля 
            p 1809 года в местечке Великие Сорочинцы Миргородского уезда Полтавской губернии
            p в семье помещика. Назвали Николаем в честь чудотворной иконы святого Николая, 
            p хранившейся в церкви села Диканька.
            img(src="img/123.png", alt="first image" class="image")
            h2 Мои увлечения 
            P Космос 